body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/*
.Toastify {
  background-color: rgba(120,220,0,0.6);
  display: block;
  width: 20vw;
  margin: auto;
  text-align: center;
  font-family: 'Comic Sans MS';
  font-weight: 900;
  border-radius: 25px;
}
*/